<div *ngIf="cartItems.length === 0">
  <h3 style="text-align: center">Your Cart Is Empty  <a class="active" routerLink="/"><i class="fa fa-fw fa-home"></i>Go To Products Page</a></h3>


</div>
<div class="row"  *ngIf="cartItems.length > 0">
  <div class="column">
    <div id="cartItems">
      <table
        border="5"
        bordercolor="black"
        align="center"
      >
        <tr>
          <th colspan="5">Cart Items Total : {{ cartTotals | number: "1.0-2" }}</th>
        </tr>

        <app-cart-item
          *ngFor="let cartitem of cartItems"
          [cartitem]="cartitem"
          (removeItem)="removeItem($event)"
          (QtyUpdated)="QtyUpdated($event)"
        >
        </app-cart-item>
      </table>

      </div>
  </div>
  <div class="column">
    <h2>Check-out</h2>
    <form #from="ngForm" (ngSubmit)="onSubmit()">
      <label for="name"> Name</label>
      <input type="text" id="name" name="name" placeholder="minimum 6 characters" required minlength="6" [(ngModel)]="_name">

      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="Your email.." required minlength="10"  [(ngModel)]="email" email="true">

      <label for="phone">Phone</label>
      <input type="tel" id="phone" name="phone" placeholder="Your phone..(11 digits)" required minlength="11" pattern="[0-9]{11}" [(ngModel)]="phone">

      <label for="card">Card Number</label>
      <input type="password" id="card" name="card" placeholder=" 16 Numbers" required minlength="16"[(ngModel)]="card">

      <input type="submit" [disabled]="from.invalid" value="Submit">
    </form>

  </div>
</div>


