/* .product-index {
  display: flexbox;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1024px;
  margin-bottom: 64px;
}

.product-container {
  display: flex;
  justify-content: center;
}

body{
  margin: 20;
  padding: 20;
  background: linear-gradient(to bottom right, #E3F0FF, #FAFCFF);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 } */
 th, td {
  padding: 15px;
  text-align: center;
  font-size: large;
  color: red;
  font-weight: bold;
}
