<div class="confirmation-container">


  <div class="confirmation-items">

    <p class="confirmation-header">Success !</p><br>

    <p class="confirmation-item"> Thanks {{_name}} </p> <br>

    <p class="confirmation-item">  Your Order Total:  {{cartTotals}} $ </p><br>

    <p class="confirmation-item">your shopping is on the way</p><br>

    <h3 style="text-align: center"> <a class="confirmation-items" routerLink="/"><i class="fa fa-fw fa-home"></i>Go To Products Page</a></h3>

  </div>



</div>





