


<div class="card">
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Unit Price</th>
    <th>Qty</th>
    <th>Total Price</th>
  </tr>
  <tr align="center">

  <!-- <img src={{cartitem.url}} alt={{cartitem.name}} style="width:100%">
  <h1>{{cartitem.name}}</h1>
  <p class="price"> Price :  {{cartitem.price}} USD</p> -->
  <td [width]="20"><img src={{cartitem.url}} alt={{cartitem.name}} border=3 height=100 width=100></td>

  <td>{{cartitem.name}}</td>
  <td>{{cartitem.price}}</td>
  <!-- <td>{{cartitem.Qty}}</td> -->
  <td>

    <input type="number" class="select-input"  value={{cartitem.Qty}} min="1" [(ngModel)]="Qty" [ngModelOptions]="{standalone: true}">
    <hr>
    <div class="buttons">

      <div class="action_btn">

      <button name="submit" class="action_btn submit" type="button" value="Save" (click)="updateQty(cartitem.Qty)">Update </button>
<hr>
      <button name="submit" class="action_btn cancel" type="button" value="Cancel" (click)="remove(cartitem)">Remove</button>

      <p id="saved"></p>

      </div>

  </div>
  </td>

  <td>{{cartitem.price * cartitem.Qty | number: '1.0-2'}}</td>
</tr>

</div>


