tr {
  border-bottom: 1px solid #ddd;
}
th, td {
  padding: 5px;
  text-align: center;
}
th {
  background-color: black;
  color: aliceblue;
}
td {
  vertical-align:middle ;
  width: 100px;
}
.buttons {
  width: 200px;
  margin: 0 auto;
  display: inline;}
.action_btn {
  width: 200px;
  margin: 0 auto;
  display: inline;}
.select-input {
    width: 50%;
    margin-bottom: 8px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    border-color: #000;
  }
