
<!-- <div class="product-image">
  <img src={{product.url}} alt="Avatar" style="width:100%" >
  <div class="product-container">
    <h4><b>{{product.name}}</b></h4>
    <p> Price {{product.price}} USD</p>
    <input type="number" class="select-input"  value="1">
    <input type="button" value="Add to cart">
    <input type="button" value="Details">

  </div>
</div> -->


<div class="card">
  <form (ngSubmit)="addToCart(product,Qty)">

  <img src={{product.url}} alt={{product.name}} style="width:100%">
  <h1>{{product.name}}</h1>
  <p class="price"> Price :  {{product.price}} USD</p>


    <input type="number" class="select-input"  value="1" min="1" [(ngModel)]="Qty" [ngModelOptions]="{standalone: true}">

  <p><input class="btn_Add" value="add to cart" type="submit"></p>
  <a routerLink="/product/{{ product.id }}"><button class="btn_details">Details</button></a>

</form>

</div>
<br>
